.answers-nav {
  font-size: 18px;
  font-weight: 400;
  color: #3b4045;
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #e4e6e8;
}
.answers-list {
  display: grid;
  grid-gap: 10px;
}

.answer-show-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e6e8;
}

.answer-layout-left {
  grid-column: 1;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
  justify-content: center;
  align-content: flex-start;
  color: #c9cbcf;
  text-align: center;
}

.answer-layout {
  display: grid;
  grid-gap: 15px;
}
.answer-form-label {
  font-size: 18px;
  border-top: 1px solid #e4e6e8;
  padding: 10px 0;
}

.quill {
  // margin: 1rem auto;
  max-width: 45rem;
}

.textarea {
  border: 1px solid #ccc;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-container {
  min-height: 10em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: white;
  border-top: 0;
}

.ql-container.ql-snow {
  border: none !important;
  // padding: 10px;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: rgb(239, 240, 241) !important;
  color: black !important;
}

.ql-toolbar {
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#toolbar {
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border: 1px solid #ccc;
  padding: 0.75em;
}

.ql-editor {
  padding: 0px !important;

}

.ql-editor p {
  font-size: 15px;
//   padding-left: 10px !important;
//   padding-right: 10px !important;
//   padding-top: 10px !important;
}

.warning {
  font-size: 13px;
  color: red;
}