.comment-link {
  display: inline-block;
  color: #3af;
  cursor: pointer;
}

.comment-textarea {
  display: none;

}

.comment-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  grid-gap: 10px;
}

.comment-input {
  border: 1px solid #c8ccd0;
  background-color: white;
  font-size: 13px;
  border-radius: 3px;
  color: #3b4045;
  padding: 5px;
}

.comment-input:hover {
  border-color: rgba(0,149,255,0.5);
  box-shadow: inset 0 1px 2px #e4e6e8,0 0 2px rgba(0,149,255,0.2);
}

.comments-list {
  display: grid;
  margin-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e4e6e8;
}

.comment {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, auto);
  justify-content: flex-start;
  padding: 6px 0;
  border-bottom: 1px solid #eff0f1;
}

.username {
  color: #3af;
}

.timestamp {
  color: #848d95;
}