.question-form {
  display: grid;
  grid-gap: 15px;
  color: #0C0D0E;
}

.form-section {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
}
.form-label {
  color: #0C0D0E;
  font-size: 15px;
  font-weight: 700;
}

.tags-input {
  // min-height: 1em !important;
  border: 1px solid #bbc0c4;
  border-radius: 3px;
  box-shadow: inset 0 0 1px rgba(145,153,161,0.2),0 0 0 rgba(255,255,255,0);
  padding: 10px;
  display: flex;
  justify-content: start;
}


.body-area {
  min-height: 10em;
  padding: 10px;
}

code {
  color: #39739d;
  background-color: #E1ECF4;
  border-color: #E1ECF4;
  border-radius: 3px;
  padding: 3px;
  margin-right: 10px;
}

.form-input {
  border: 1px solid #bbc0c4;
  border-radius: 3px;
  box-shadow: inset 0 0 1px rgba(145,153,161,0.2),0 0 0 rgba(255,255,255,0);
  padding: 10px;
}

.question-form-error {
  color: red;
  margin: 10px 0;
}
