.question-header {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid #e4e6e8;
  margin-bottom: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.question-title {
  font-size: 24px;
  color: #242729;
  line-height: 1.35;
}

.search-question-title {
  grid-column: span 2;
}

.question-show-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 20px;
}

.show-container {
  display: grid;
  grid-gap: 20px;
}

.question-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 25px;
}
.post-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.post-layout-left {
  grid-column: 1;
  grid-row: span 2;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: row;
  justify-content: center;
  color: #c9cbcf;
  text-align: center;
}


.post-layout-main {
  grid-column: span 2;
  display: grid;
  grid-gap: 10px;
}

.question-body {
  font-size: 15px;
  line-height: 1.3;
  word-wrap: break-word;
}

.post-layout-comment {
  grid-column-start: 2;
  grid-column: span 2;
}

.full-width {
  grid-column-start: 1;
  grid-column: span 2;
}
.question-details {
  display: grid;
  grid-gap: 5px;
  direction: ltr;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-content: center;
}
.question-details a {
  color: #39739d;
}

.delete-link {
  color: #39739d;
  cursor: pointer;
}