// Place all the styles related to the api/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.questions-index-header {
  width: 100%;
  color: #242729;
  font-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 27px;
  font-weight: 400;
  font-size: 2.07692308rem 
}

.questions-nav {
  margin-bottom: 16px;
  font-size: 1.30769231rem
}
.questions {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid #d6d9dc;
}

.question-summary {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eff0f1;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 58px 1fr;
}

.stats-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
}

.stats {
  color: #6a737c;
  font-size: 11px;
  text-align: center;
}

.vote:hover {
  color: #F48024;
  cursor: pointer;
}

.stats-number {
  font-size: 20px;
  color: #6a737c;
  text-align: center;
}

.summary {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 200px;
  word-wrap: break-word;
}

.question-hyperlink {
  grid-column: span 2;
  font-weight: 400;
  font-size: 16px;  
  color: #07C;
}

.question-hyperlink:hover {
  color: #3af;
}

.question-body {
  grid-column: span 2;
}

.tags {
  display: grid;
  grid-gap: 5px;
  direction: ltr;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-content: center;
}

.tags a {
  padding: 5px;
  color: #39739d;
  background-color: #E1ECF4;
  border-color: #E1ECF4;
  border-radius: 3px;
}