/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1;
  color: #242729;
}

.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafafb;
  height: 47px;
  border-top: 3px solid #F48024;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
  position: fixed;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  background-color: #fafafb;
  height: 47px;
  border-top: 3px solid #F48024;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}


.main-content {
  display: flex;
  max-width: 1264;
  width: 100%;
}

.sidebar {
  width: 164px;
  padding-top: 24px;
  flex-shrink: 0;
  font-size: 12px;
}

.sidebar a {
  color: #535a60;
  display: block;
  padding: 4px;
  line-height: 1.8;
  padding-left: 8px;
}

.nav-links a {
  padding-left: 30px;
}

.nav-links a:active {
  padding-left: 30px;
  border-right: 2px solid #F48024;
  background-color: #fafafb;
  font-weight: 700;
}



#public {
  color: #6a737c;
  font-size: 10px;
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 4px;
}

#signup {
  background-color: #0095ff;
  color: white;
  padding: 8px 8px;
  border: 1px solid #07C;
  border-radius: 3px;
  margin: 8px;
  box-shadow: inset 0 1px 0 #66bfff;
}

#login {
  color: #07C;
}

#content {
  max-width: 1100px;
  width: calc(100% - 164px);
  padding: 24px;
  border-left: 1px solid #d6d9dc;
}

.session-nav {
  padding: 0;
  display: flex;
  align-content: center;
  overflow: hidden;
  height: 40px;
  font-size: 12px;
}

#left {
  border-bottom: none;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  border-bottom: 1px solid #e4e6e8;
  width: 85%;
}

.session-nav a {
  padding: 13px 5px;
  color: #848d95;
  line-height: 1;
  border-bottom: 1px solid #e4e6e8;
}

.session-nav a.active {
  color: black;
  line-height: 1;
  border: 1px solid #e4e6e8;
  border-top: 2px solid #F48024;
  border-bottom-color: white;
}

.session-page {
  text-align: left;
}
#explanation-text {
  font-size: 20px;
  line-height: 1.8;
  margin: 0 auto 20px;
  width: 60%;
  text-align: center;
  padding-top: 15px;
}

.form-container {
  border: 1px solid #e4e6e8;
  width: 280px;
  margin: auto;
  padding: 30px;
  font-weight: 700;
  font-size: 100%;
}

.input-form {
  position: relative;
}

.input {
  width: 263px;
  height: 18px;
  padding: 8px;
  border: 1px solid #e4e6e8;
  margin: 5px 0 10px 0;
  color: #3b4045;

}

.session-message-error {
  position: absolute;
  border: 1px solid #C04848;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #C04848;
  color: white;
  padding: 8px;
  width: 185px;
  line-height: 1.5;
  margin: 10px;
  text-align: center;
}



#error {
  left: -200px;
  top: -5px;
}

#general-error {
  left: 561px;
  top: 370px;
}

.button {
  display: flex;
  justify-content:flex-end;
}

.session-button {
  margin: 5px 0 5px 0;
  background: #07C;
  text-align: center;
  color: white;
  padding: 12px 40px;
  border-radius: 3px;
}
