
.splash-welcome {
  width: 100%;
  background: image-url('blue_bg.jpg');
  background-repeat: no-repeat;

}

#splash-signup-container {
  max-width: 1294px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px 32px;
}

.welcome-text {
  flex-shrink: 2;
  font-stretch: 100%;
  font-size: 17px;
}

.welcome-text>h1 {
  font-size: 27px;
  line-height: 1.53;
  margin-bottom: 20px;
  font-weight: 400;
}

.welcome-text>p {
  margin-bottom: 17px;
}

.splash-form-container {
  color: #535a60;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: block;
  margin-left: 32px;
  margin-right: 32px;
  width: 40%;
}

.label-input {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: row;
  font-size: 13px;
  margin: 10px;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
  box-sizing: border-box;
}

.splash-label {
  flex-basis: 160px;
  padding: 0px 15px;
  background-color: #eff0f1;
  line-height: 41px;
  max-height: 41px;
  min-height: 41px;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 3px 0 0 3px;
  font-size: 13px;
  height: 100%;
  box-sizing: border-box;
}

.splash-input {
  font-size: 15px;
  height: 100%;
  max-height: 41px;
  min-height: 41px;
  background-color: white;
  width: 100%;
  padding: 12px 16px;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
}

.message-error {
  position: absolute;
  border: 1px solid #C04848;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #C04848;
  color: white;
  padding: 10px;
  width: 185px;
  line-height: 1.5;
  margin: 10px;
}

#password-error {
  left: -200px;
}

#splash-signup-button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  display: block;
  font-size: 15px;
  width: 33%;
  font-stretch: 100%;
  text-align: center;
}
